body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding: 10px;
  background-color: var(--background-color);
  height: 100vh;
  font-size: 2rem;
}

.title {
  font-weight: 600;
}

.home-link {
  color: var(--primary-color);
}
