body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--background-color);
}

.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  padding: 15px 30px;
  border-bottom: 1px solid #b1122765;
  background-color: var(--overlay-color);
  box-shadow: 0 2px 5px 2px #b1122765;
}

.home-link {
  display: flex;
  align-items: center;
  gap: 15px;
  text-decoration: none;
}

.brand .logo {
  width: 30px;
}

.app-name {
  font-family: 'Trade Winds', system-ui;
  font-size: 2rem;
  color: var(--primary-color);
  letter-spacing: 4px;
  text-transform: uppercase;
}

.menu ul {
  display: flex;
  align-items: center;
  gap: 7px;
}

.nav-link {
  text-decoration: none;
  padding: 7px 10px;
  color: var(--text-color);
  border-radius: 5px;
  font-weight: 600;
}

.nav-link.sign-up-btn {
  background-color: var(--primary-color);
}

.nav-link.log-in-btn {
  color: var(--text-color);
  border: 1px solid var(--text-color);
  transition:
    background-color ease 0.2s,
    color ease 0.2s;
}

.nav-link.log-in-btn:hover {
  background-color: var(--text-color);
  color: var(--background-color);
}

.username {
  color: var(--text-color);
  background-color: var(--overlay-color);
  padding: 8px 10px;
  border-radius: 5px;
  font-weight: 600;
}

.logout-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  padding: 7px 10px;
  transition: color ease 0.1s;
  border-radius: 5px;
  border: 1px solid var(--text-color);
  transition:
    background-color ease 0.2s,
    color ease 0.2s;
}

.logout-btn:hover {
  background-color: var(--text-color);
  color: var(--background-color);
}

main {
  position: relative;
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  display: flex;
}
